form {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: #f1e1a6 0px 5px 15px;
  background-color: white;
}

h2,
h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
  margin-left: 0;
  color: #f4bbbb;
}

h3 {
  font-size: 1rem;
  margin-top: 20px;
}

label {
  margin-top: 20px;
}

.nombre-y-apellido {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.error {
  border-bottom: 2px solid #f4bbbb;
}


.nombre-y-apellido label {
  margin-top: 0%;
  width: 45%;
  height: 50px;
}

.label-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.label-radio {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgb(102, 100, 100);
}

.label-radio input {
  width: auto;
}

input,
textarea {
  width: 80%;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #c3e5ae3f;
  border-radius: 5px;
  border: solid 1px transparent;
}

select {
  margin-left: 20px;
  padding: 10px;
  background-color: #c3e5ae3f;
  border-radius: 5px;
  border: solid 1px transparent;
  color: rgb(163, 157, 157);
}

textarea::placeholder {
  color: #4c3f54;
}
input::placeholder {
  color: #4c3f54;
}

textarea {
  height: 180px;
}

.label-textarea {
  display: flex;
  margin-top: 30px;
}

input::placeholder {
  color:rgb(163, 157, 157);
}

textarea::placeholder {
  color: rgb(163, 157, 157);
}

input[type="text"]:focus {
  outline: none;
  border: solid 1px #f1e1a6;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
  border: solid 1px #f1e1a6;
  border-radius: 5px;
}

input[type="email"]:focus {
  outline: none;
  border: solid 1px #f1e1a6;
  border-radius: 5px;
}

select:focus {
  outline: none;
  border: solid 1px #f1e1a6;
  border-radius: 10px;
}

input[type="submit"] {
  padding: 15px;
  width: 130px;
  background-color: #97dbae;
  border-radius: 5px;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #c3e5ae;
}

input[type="submit"]:active {
  background-color: #c3e5ae;
}

/*///// RESPONSIVE FORMULARIO//////*/

@media screen and (max-width: 900px) {
  .nombre-y-apellido {
    height: 130px;
    flex-direction: column;
  }

  .nombre-y-apellido label {
    width: 100%;
  }
}
